body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#game {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.door {
    width: 150px;
    height: 250px;
    background-color: #c3a3f1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.door:hover {
    background-color: #c3a3f1;
}

#message {
    margin-top: 20px;
    font-size: 18px;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #6414e9;
    color: white;
    transition: background-color 0.3s;
}

#restart:hover {
    background-color: #6414e9;
}

#message, #totalPrize, #endMessage {
    margin: 20px 0;
    font-size: 20px;
}

@media (max-width: 600px) {
    #game {
        flex-direction: column;
        gap: 10px;
        
        justify-content: center;
    }

    .container {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding-top: 5px;
        margin-top: 20px;
    }
}